In [1]:
import pandas as pd

In [18]:
crit = pd.read_csv(r"C:\Users\singe\660project\data\total data\LIWC-22 Results - crit_liwc - LIWC Analysis.csv")
crit

,A,Analytic,Clout,i,conj,BigWords,prep,Cognition,WPS
0,The filmmaking and plotting may not live up to...,89.52,1.48,0.0,12.90,25.81,16.13,16.13,31.0
1,Ant-Man And The Wasp is an ideal popcorn flick...,78.71,58.11,0.0,6.06,21.21,6.06,6.06,16.5
2,"It keeps the tone very light and funny, incorp...",72.44,85.50,0.0,8.70,26.09,13.04,4.35,23.0
3,Amid all the fun and action of Ant-Man and the...,97.37,17.46,0.0,9.09,9.09,18.18,13.64,22.0
4,This sequel is much more more fleet of foot.,66.04,40.06,0.0,0.00,0.00,11.11,0.00,9.0
...,...,...,...,...,...,...,...,...,...
2694,The irreverence of the original we can say rem...,94.68,4.61,0.0,4.76,19.05,9.52,28.57,10.5
2695,The Guardians of the Galaxy have returned in G...,99.00,40.06,0.0,10.71,14.29,17.86,0.00,14.0
2696,So just when the familial schmaltz threatens t...,47.48,40.06,0.0,13.04,30.43,8.70,8.70,23.0
2697,Guardians of the Galaxy 2 is obviously a hell ...,99.00,7.93,0.0,0.00,15.38,15.38,7.69,13.0
2698,"At times, there's a bit too much going on, and...",27.51,77.41,0.0,11.11,0.00,17.78,8.89,9.0

In [20]:
aud = pd.read_csv(r"C:\Users\singe\660project\data\total data\LIWC-22 Results - aud_liwc - LIWC Analysis.csv")
aud

,A,Analytic,Clout,i,conj,BigWords,prep,Cognition,WPS
0,review,89.52,40.06,0.00,0.00,0.00,0.00,100.00,1.00
1,Major missed opportunity not getting Rick Mora...,69.92,23.05,0.00,8.06,11.29,16.13,11.29,20.67
2,I really liked it and idk why,1,1,28.57,14.29,0.00,0.00,28.57,7.00
3,This is a fun heist movie that is non-stop hil...,82.63,18.97,0.00,6.25,20.83,10.42,10.42,16.00
4,not funny or even decent but the action is ser...,10.19,1,0.00,16.67,8.33,0.00,25.00,12.00
...,...,...,...,...,...,...,...,...,...
4839,"2 points for Scarlett Johansson, the film is u...",89.52,1.71,0.00,8.33,25.00,8.33,16.67,24.00
4840,"An actual good movie, one of the top in the MCU.",99,40.06,0.00,0.00,0.00,18.18,0.00,11.00
4841,This movie was great love the sound track for ...,81.45,40.06,0.00,4.76,9.52,4.76,4.76,21.00
4842,Captain America: The Winter Soldier surpasses ...,80.69,7.93,0.00,5.13,30.77,10.26,12.82,19.50
4843,My God. What a movie. Everything that I hated ...,70.33,16.63,14.29,9.52,9.52,19.05,4.76,7.00

In [21]:
crit.describe()

,Analytic,Clout,i,conj,BigWords,prep,Cognition,WPS
count,2699.000000,2699.000000,2699.000000,2699.000000,2699.000000,2699.000000,2699.000000,2699.000000
mean,69.445498,39.296573,0.654387,6.531249,23.108840,12.493235,10.887425,18.771860
std,31.364044,29.585156,2.337279,5.100863,11.974539,6.144006,7.864424,8.890931
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,47.930000,12.770000,0.000000,3.130000,15.380000,8.700000,5.260000,12.000000
50%,82.280000,40.060000,0.000000,6.250000,22.220000,12.500000,10.000000,17.000000
75%,96.210000,59.900000,0.000000,9.520000,29.410000,16.670000,15.380000,25.000000
max,99.000000,99.000000,27.780000,33.330000,100.000000,40.000000,50.000000,51.000000

In [22]:
aud.describe()

,i,conj,BigWords,prep,Cognition,WPS
count,4843.000000,4843.000000,4843.000000,4843.000000,4843.000000,4843.000000
mean,2.245121,6.576102,17.324613,10.088980,12.422333,14.843649
std,3.974191,5.512868,11.168299,6.297416,8.857959,11.598796
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.225000,11.110000,6.250000,6.670000,8.000000
50%,0.000000,6.450000,16.670000,10.530000,12.000000,12.330000
75%,3.330000,9.380000,22.220000,14.290000,16.770000,18.120000
max,68.940000,37.500000,100.000000,40.000000,100.000000,189.000000